<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Bellybutton Biodiversity</h1>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Interactive dashboard to explore the dataset on bacteria found in human belly buttons. The data is arranged by samples with the pie chart and bubble chart showing different aspects of the data. The pie chart may be filted by clicking on the legend.</p>
            </div>

            <div class="col-md-4">
                <div class="well">
                    <label for="selDataset">Select a Sample:</label>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                    <div class = "panel-heading">Sample Details</div>
                    <div id="metadata" class="panel-body"></div>
                </div>
            </div>

            <div id = "piechart" class = "col-md-8">
            </div>

            <div id = "frequencychart" class = "col-md-4" >
            </div>

        </div>

        <div class = "row">
            <div id = "bubblechart" class = "col-md-12">
            </div>
        </div>
    </div>

</body>

</html>